@model TantaJudge.Models.Problema

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Problema</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dificultad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dificultad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            PDF
        </dt>
        <dd class="col-sm-10">
            @if (Model.Pdfpro != null)
            {
                <a href="@Url.Content("~/fotos/" + Model.Pdfpro.FileName)" target="_blank" class="btn btn-info">View PDF</a>
            }
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ProblemaId" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

