@model IEnumerable<TantaJudge.Models.Problema>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>PDF</th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dificultad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.Pdfpro != null)
                {
                    <a href="@Url.Content("~/fotos/" + item.Pdfpro.FileName)" target="_blank" class="btn btn-info">View PDF</a>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dificultad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProblemaId" class="btn btn-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProblemaId" class="btn btn-success">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProblemaId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

